# Analyze Covid-19 positive in Seoul

- http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
import pandas as pd

In [2]:
# load URL for crawling
url = "https://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'https://www.seoul.go.kr/coronaV/coronaStatus.do'

In [3]:
pd.read_html(url)

[     소계  해외접촉관련  중구한화생명관련  강남구V빌딩관련  관악구사무실관련  강남구역삼동모임  도봉구요양시설관련  리치웨이관련  \
 0  1449     323         5         8         6        13         43     122

    부천시쿠팡관련  수도권개척교회관련  양천구운동시설관련  이태원클럽관련  구로구콜센터관련  타 시·도확진자접촉자   기타  경로확인중
 0       24         37         43      139        98           51  393    142  ,
                                                    0
 0  < 신종 코로나바이러스 감염증 예방 국민 행동수칙 >○ 기침 등 호흡기 증상이 있을...,
                                                    0
 0  < 신종 코로나바이러스 감염증 예방 의료기관 행동수칙 >○ 호흡기 질환자 진료시 마...,
                                                    0
 0  이 보도자료는 관련 발생 상황에 대한 정보를 신속 투명하게 공개하기 위한 것으로, ...,
         연번     환자    확진일   거주지     여행력         접촉력         조치사항
 0     1477  13769  7.19.   강서구       -        확인 중            -
 1     1476  13758  7.19.   성북구       -        확인 중        서울의료원
 2     1475  13761  7.19.  서대문구   인도네시아    해외 접촉 추정         서남병원
 3     1474  13729  7.18.   관악구       -  중구 한화생명 관련        보라매병원
 4     1473  13734  7.18.   관악구       -  중구 한화생명 관련        보라매병원
 ...    ...    ...    ...   ...     ...         ...          ...
 1472     5      9  1.31.   성북구       -       #5 접촉    서울의료원(퇴원)
 1473     4      7  1.30.   마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
 1474     3      6  1.30.   종로구       -       #3 접촉  서울대학교병원(퇴원)
 1475     2      5  1.30.   중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
 1476     1      2  1.24.   강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

 [1477 rows x 7 columns],
                                                      연번    환자번호  \
 0     1477  <tr>  <td class="tdl" colspan="5">  <p>확...  #13769
 1     1476  <tr>  <td class="tdl" colspan="5">  <p>확...  #13758
 2     1475  <tr>  <td class="tdl" colspan="5">  <p>확...  #13761
 3     1474  <tr>  <td class="tdl" colspan="5">  <p>확...  #13729
 4     1473  <tr>  <td class="tdl" colspan="5">  <p>확...  #13734
 ...                                                 ...     ...
 1472  5  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #9
 1473  4  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #7
 1474  3  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #6
 1475  2  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #5
 1476  1  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #2

                  감염경로   확진일   거주지         격리시설
 0                확인 중  7/19   강서구            -
 1                확인 중  7/19   성북구        서울의료원
 2     해외 접촉 추정(인도네시아)  7/19  서대문구         서남병원
 3          중구 한화생명 관련  7/18   관악구        보라매병원
 4          중구 한화생명 관련  7/18   관악구        보라매병원
 ...               ...   ...   ...          ...
 1472            #5 접촉  1/31   성북구    서울의료원(퇴원)
 1473    해외 접촉(중국 우한시)  1/30   마포구    서울의료원(퇴원)
 1474            #3 접촉  1/30   종로구  서울대학교병원(퇴원)
 1475    해외 접촉(중국 우한시)  1/30   중랑구    서울의료원(퇴원)
 1476    해외 접촉(중국 우한시)  1/24   강서구  국립중앙의료원(퇴원)

 [1477 rows x 6 columns]]

In [4]:
table = pd.read_html(url)
len(table)

6

In [5]:
table[0].T

                0
소계           1449
해외접촉관련        323
중구한화생명관련        5
강남구V빌딩관련        8
관악구사무실관련        6
강남구역삼동모임       13
도봉구요양시설관련      43
리치웨이관련        122
부천시쿠팡관련        24
수도권개척교회관련      37
양천구운동시설관련      43
이태원클럽관련       139
구로구콜센터관련       98
타 시·도확진자접촉자    51
기타            393
경로확인중         142

In [6]:
df = table[4]
df.shape

(1477, 7)

In [7]:
df.head()

     연번     환자    확진일   거주지    여행력         접촉력   조치사항
0  1477  13769  7.19.   강서구      -        확인 중      -
1  1476  13758  7.19.   성북구      -        확인 중  서울의료원
2  1475  13761  7.19.  서대문구  인도네시아    해외 접촉 추정   서남병원
3  1474  13729  7.18.   관악구      -  중구 한화생명 관련  보라매병원
4  1473  13734  7.18.   관악구      -  중구 한화생명 관련  보라매병원

In [8]:
# to save csv file, 
# we get last day of confirmed from data
# and . make system confused with extension, change _ 
last_day = df.loc[0, "확진일"]
last_day = last_day.replace(".", "_")
last_day

'7_19_'

In [9]:
# make file name
file_name = f"covid-19_in_seoul_{last_day}.csv"
file_name

'covid-19_in_seoul_7_19_.csv'

In [10]:
# save to csv file without index number
df.to_csv(file_name, index=False)
# if you want to open excel program,
df.to_csv(file_name, index=False, encoding="utf-8")

In [11]:
# check save file
pd.read_csv(file_name)

        연번     환자    확진일   거주지     여행력         접촉력         조치사항
0     1477  13769  7.19.   강서구       -        확인 중            -
1     1476  13758  7.19.   성북구       -        확인 중        서울의료원
2     1475  13761  7.19.  서대문구   인도네시아    해외 접촉 추정         서남병원
3     1474  13729  7.18.   관악구       -  중구 한화생명 관련        보라매병원
4     1473  13734  7.18.   관악구       -  중구 한화생명 관련        보라매병원
...    ...    ...    ...   ...     ...         ...          ...
1472     5      9  1.31.   성북구       -       #5 접촉    서울의료원(퇴원)
1473     4      7  1.30.   마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1474     3      6  1.30.   종로구       -       #3 접촉  서울대학교병원(퇴원)
1475     2      5  1.30.   중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1476     1      2  1.24.   강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1477 rows x 7 columns]