# Analyze Covid-19 positive in Seoul

- http://www.seoul.go.kr/coronaV/coronaStatus.do

In [1]:
import pandas as pd

In [3]:
# load URL for crawling
url = "http://www.seoul.go.kr/coronaV/coronaStatus.do"
url

'http://www.seoul.go.kr/coronaV/coronaStatus.do'

In [5]:
pd.read_html(url)

[     소계  해외접촉관련  강남역삼동금융회사관련  관악구왕성교회관련  강남구사무실관련  강남구역삼동모임  도봉구요양시설관련  \
 0  1401     317            8         30         7        12         43

    리치웨이관련  부천시쿠팡관련  수도권개척교회관련  양천구운동시설관련  이태원클럽관련  구로구콜센터관련  타 시·도확진자접촉자   기타  \
 0     122       24         37         43      139        98           48  339

    경로확인중
 0    134  ,                                                    0
 0  < 신종 코로나바이러스 감염증 예방 국민 행동수칙 >○ 기침 등 호흡기 증상이 있을...,                                                    0
 0  < 신종 코로나바이러스 감염증 예방 의료기관 행동수칙 >○ 호흡기 질환자 진료시 마...,                                                    0
 0  이 보도자료는 관련 발생 상황에 대한 정보를 신속 투명하게 공개하기 위한 것으로, ...,         연번     환자    확진일  거주지     여행력         접촉력         조치사항
 0     1401  13329  7.09.  대전시  키르기스스탄    해외 접촉 추정       타시도 이관
 1     1400  13325  7.09.  강동구       -  타시도 확진자 접촉         서납병원
 2     1399  13309  7.09.  성북구       -  강남구 사무실 관련        서울의료원
 3     1398  13307  7.09.  성북구       -  타시도 확진자 접촉        서울의료원
 4     1397  13316  7.09.  강남구       -        확인 중        서울의료원
 ...    ...    ...    ...  ...     ...         ...          ...
 1396     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
 1397     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
 1398     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
 1399     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
 1400     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

 [1401 rows x 7 columns],                                                      연번    환자번호  \
 0     1401  <tr>  <td class="tdl" colspan="5">  <p>확...  #13329
 1     1400  <tr>  <td class="tdl" colspan="5">  <p><...  #13325
 2     1399  <tr>  <td class="tdl" colspan="5">  <p><...  #13309
 3     1398  <tr>  <td class="tdl" colspan="5">  <p>특...  #13307
 4     1397  <tr>  <td class="tdl" colspan="5">  <p>확...  #13316
 ...                                                 ...     ...
 1396  5  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #9
 1397  4  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #7
 1398  3  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #6
 1399  2  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #5
 1400  1  <tr>  <td class="tdl" colspan="5">  <p>이동경로...      #2

                   감염경로   확진일  거주지         격리시설
 0     해외 접촉 추정(키르기스스탄)  7/09  대전시       타시도 이관
 1           타시도 확진자 접촉  7/09  강동구         서납병원
 2           강남구 사무실 관련  7/09  성북구        서울의료원
 3           타시도 확진자 접촉  7/09  성북구        서울의료원
 4                 확인 중  7/09  강남구        서울의료원
 ...                ...   ...  ...          ...
 1396             #5 접촉  1/31  성북구    서울의료원(퇴원)
 1397     해외 접촉(중국 우한시)  1/30  마포구    서울의료원(퇴원)
 1398             #3 접촉  1/30  종로구  서울대학교병원(퇴원)
 1399     해외 접촉(중국 우한시)  1/30  중랑구    서울의료원(퇴원)
 1400     해외 접촉(중국 우한시)  1/24  강서구  국립중앙의료원(퇴원)

 [1401 rows x 6 columns]]

In [6]:
table = pd.read_html(url)
len(table)

6

In [9]:
table[0].T

                0
소계           1401
해외접촉관련        317
강남역삼동금융회사관련     8
관악구왕성교회관련      30
강남구사무실관련        7
강남구역삼동모임       12
도봉구요양시설관련      43
리치웨이관련        122
부천시쿠팡관련        24
수도권개척교회관련      37
양천구운동시설관련      43
이태원클럽관련       139
구로구콜센터관련       98
타 시·도확진자접촉자    48
기타            339
경로확인중         134

In [14]:
df = table[4]
df.shape

(1401, 7)

In [15]:
df.head()

     연번     환자    확진일  거주지     여행력         접촉력    조치사항
0  1401  13329  7.09.  대전시  키르기스스탄    해외 접촉 추정  타시도 이관
1  1400  13325  7.09.  강동구       -  타시도 확진자 접촉    서납병원
2  1399  13309  7.09.  성북구       -  강남구 사무실 관련   서울의료원
3  1398  13307  7.09.  성북구       -  타시도 확진자 접촉   서울의료원
4  1397  13316  7.09.  강남구       -        확인 중   서울의료원

In [19]:
# to save csv file, 
# we get last day of confirmed from data
# and . make system confused with extension, change _ 
last_day = df.loc[0, "확진일"]
last_day = last_day.replace(".", "_")
last_day

'7_09_'

In [22]:
# make file name
file_name = f"covid-19_in_seoul_{last_day}.csv"
file_name

'covid-19_in_seoul_7_09_.csv'

In [26]:
# save to csv file without index number
df.to_csv(file_name, index=False)
# if you want to open excel program,
df.to_csv(file_name, index=False, encoding="cp949")

In [27]:
# check save file
pd.read_csv(file_name)

        연번     환자    확진일  거주지     여행력         접촉력         조치사항
0     1401  13329  7.09.  대전시  키르기스스탄    해외 접촉 추정       타시도 이관
1     1400  13325  7.09.  강동구       -  타시도 확진자 접촉         서납병원
2     1399  13309  7.09.  성북구       -  강남구 사무실 관련        서울의료원
3     1398  13307  7.09.  성북구       -  타시도 확진자 접촉        서울의료원
4     1397  13316  7.09.  강남구       -        확인 중        서울의료원
...    ...    ...    ...  ...     ...         ...          ...
1396     5      9  1.31.  성북구       -       #5 접촉    서울의료원(퇴원)
1397     4      7  1.30.  마포구  중국 우한시       해외 접촉    서울의료원(퇴원)
1398     3      6  1.30.  종로구       -       #3 접촉  서울대학교병원(퇴원)
1399     2      5  1.30.  중랑구  중국 우한시       해외 접촉    서울의료원(퇴원)
1400     1      2  1.24.  강서구  중국 우한시       해외 접촉  국립중앙의료원(퇴원)

[1401 rows x 7 columns]